/* You can add global styles to this file, and also import other style files */

html,

:root{
  --shadow-light: rgba(255,255,255,0,0.1);
}

*{
  padding: 0;
  /* margin: 0; */
  box-sizing: border-box;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(59, 142, 142);
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}



